body {
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container {
    width: 854px;
    background-color: #fff;
    text-align: center;

    margin-top: 100px;
}
.logo-img img {
    height: 90px;
}

.form-container {
    width: 400px;
    padding: 60px 0 100px;
    margin: 0 auto;
}

#captcha-img {
    height: 32px;
}
.captcha-a {
    overflow: hidden;
    cursor: pointer;
}

.sign {
    overflow: hidden;
    text-align: left;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}