{% extends 'cms/base.html' %}
{% from 'commons/macro.html' import static %}

{% block title %}
    帖子管理-CMS管理系统
{% endblock %}

{% block head_file %}
    <script src="{{ static('cms/js/cms_posts.js') }}"></script>
{% endblock %}

{% block page_title -%}
    帖子管理
{%- endblock %}

{% block main_content %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>帖子标题</th>
                <th>作者</th>
                <th>所属板块</th>
                <th>评论数</th>
                <th>点赞数</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr data-id={{ post.id }} data-mark-light={{ post.highlight|length }}>
                    <td>{{ post.title }}</td>
                    <td>{{ post.author.username }}</td>
                    <td>{{ post.board.name }}</td>
                    <td>{{ post.comments|length }}</td>
                    <td>0</td>
                    <td>{{ post.create_time }}</td>
                    <td>
                        {% if post.highlight|length %}
                            <button class="btn btn-default btn-xs mark-light">取消加星</button>
                        {% else %}
                            <button class="btn btn-warning btn-xs mark-light">加星</button>
                        {% endif %}
                        <button class="btn btn-danger btn-xs">删除</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="text-align: center;">{{ pagination.links }}</div>
{% endblock %}