<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% include 'commons/_head.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='common/css/base.css') }}">
    {% block head %}
    
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">xpythonx论坛</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">首页<span class="sr-only"></span></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

          {% if g.user %}
              <li class="btn-group">
                <a class="dropdown-toggle" style="cursor: pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ g.user.username }}
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">个人信息</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ url_for('frants.logout') }}">登出</a></li>
                  </ul>
                </li>
          {% else %}
              <li><a href="{{ url_for('frants.signin') }}">登录</a></li>
              <li><a href="{{ url_for('frants.signup') }}">注册</a></li>
          {% endif %}


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% block body %}

{% endblock %}

</body>
</html>