{% extends 'front/base.html' %}
{% from 'commons/macro.html' import static %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block head %}
    <script src="{{ static('ueditor/ueditor.config.js') }}"></script>
    <script src="{{ static('ueditor/ueditor.all.min.js') }}"></script>
    <script src="{{ static('frant/js/acomment.js') }}"></script>
    <link rel="stylesheet" href="{{ static('frant/css/post_detail.css') }}">
{% endblock %}

{% block body %}
    <div class="main-container">
        <div class="left-side">
            <div class="post-detail">
                <h1>{{ post.title }}</h1>
                <p class="post-info">
                    <span>作者：{{ post.author.username }}</span>
                    <span>发布时间：{{ post.create_time }}</span>
                    <span>板块名称：{{ post.board.name }}</span>
                    <span>评论数：0</span>
                    <span>点赞数：0</span>
                </p>
                <div class="post-content">
                    {{ post.content|safe }}
                </div>
                <div class="comments-group">
                    <h2>帖子评论</h2>
                    <ul>
                        {% for comment in post.comments %}
                            <li>
                                <div class="avatar">
                                    {% if comment.author.avatar %}
                                        <a href="#"><img src="{{ comment.author.avatar }}" alt=""></a>
                                    {% else %}
                                        <a href="#"><img src="{{ url_for('static', filename='common/images/avatar.jpg') }}"></a>
                                    {% endif %}
                                </div>
                                <div class="content-box">
                                    <div class="comment-info">
                                        <span>评论人：{{ comment.author.username }}</span>
                                        <span>评论日期：{{ comment.create_time }}</span>
                                    </div>
                                    <div class="comment-content">{{ comment.content|safe }}</div>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                    <div class="add-comment">
                        <script id="editor" type="text/plain" ></script>
                        <button class="btn btn-info btn-block" id="submit" data-post-id="{{ post.id }}">提交评论</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="right-side">
            <div class="right-content">
                <ul class="author">
                    <li>
                        <div>
                            {% if post.author.avatar %}
                                <a href=""><img src="{{ post.author.avatar }}"></a>
                            {% else %}
                                <a href=""><img src="{{ url_for('static', filename='common/images/avatar.jpg') }}"></a>
                            {% endif %}
                        </div>
                    </li>
                    <li><span>{{ post.author.username }}</span></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}