{% extends 'front/base.html' %}

{% block title %}
    首页
{% endblock %}

{% block head %}
      <link rel="stylesheet" href="{{ url_for('static', filename='frant/css/base.css') }}">
{% endblock %}
{% block body %}
    <div class="main-container">
        <div class="left-side float-left">
            <div class="banner">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox" style="width: 780px; height: 300px; ">
                        {% for banner in banners %}
                            {% if loop.first %}
                                <div class="item active" style="overflow: hidden;">
                            {% else %}
                                <div class="item">
                            {% endif %}
                        <a href="{{ banner.link_url }}"><img src="{{ banner.img_url }}" alt=""></a>
                    </div>
                        {% endfor %}
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button"
                           data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button"
                           data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </a>
                        </div>
                    </div>
                </div>

                <div class="post-group">
                    <ul class="post-list-head">
                        {% if sort == 1 %}<li class="active">{% else %}<li>{% endif %}
                            <a href="/">最新</a></li>
                        {% if sort == 2 %}<li class="active">{% else %}<li>{% endif %}
                            <a href="/?sort=2">精华贴子</a></li>
                        {% if sort == 3 %}<li class="active">{% else %}<li>{% endif %}
                            <a href="/?sort=3">评论最多</a></li>
                        {% if sort == 4 %}<li class="active">{% else %}<li>{% endif %}
                            <a href="/?sort=4">点赞最多</a></li>
                    </ul>
                    <ul class="post-list-group">
                        {% for post in posts %}
                            <li>
                                <div class="author-avatar">
                                    {% if post.author.avatar %}
                                        <img src="{{ post.author.avatar }}">
                                    {% else %}
                                        <img src="{{ url_for('static', filename='common/images/avatar.jpg') }}">
                                    {% endif %}
                                </div>
                                <div class="post-info">
                                    <a href="{{ url_for('frants.post_detail', post_id=post.id) }}"><h3>{{ post.title }} {% if post.highlight|length %}<span class="label label-danger" style="font-size: 12px">精华贴</span>{% endif %}</h3></a>
                                    <div class="info-detail">
                                        <span>作者：{{ post.author.username }}</span>
                                        <span>发布时间：{{ post.create_time }}</span>
                                        <span>评论数：0</span>
                                        <span>点赞数：0</span>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div style="text-align: center;">{{ pagination.links }}</div>
                </div>
            </div>

            <div class="right-side float-right">
                <div class="padding-b-10">
                    <a class="btn btn-warning btn-lg btn-block" href="{{ url_for('frants.apost') }}">添加新帖子</a>
                </div>
                <div class="list-group padding-10">
                    {% if board_id %}
                        <a href="/" class="list-group-item">所有板块</a>
                    {% else %}
                        <a href="/" class="list-group-item active">所有板块</a>
                    {% endif %}

                    {% for board in boards %}
                        {% if board_id == board.id %}
                            <a href="{{ url_for('frants.index', bd=board.id) }}" class="list-group-item active">{{ board.name }}</a>
                            {% else %}
                     <a href="{{ url_for('frants.index', bd=board.id) }}" class="list-group-item">{{ board.name }}</a>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>

        </div>


{% endblock %}